<html>
    <head>
        <title>Fletcher's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Fletcher's test Blog</a></h1>
        </div>

        <div>
            <p>published: 1/24/2018, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>No stinking italian for me.....</p>
        </div>

        <div>
            <p>published: 1/24/2018, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>This will be replaced very soon..... </p>
        </div>
    </body>
</html>